@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Serif+4:wght@500&family=Ubuntu:wght@300&display=swap');

.about .about-header{
background: rgba(245, 204, 22, 0.986);
height: 17rem;
font-size: 4rem;
text-align: left;
align-items: center;
padding-left: 5rem;
letter-spacing: 3px;
margin-top: -5.2rem;

}
.about{
    margin-top: 0px;
    padding: 0px;
}
.content-about{
    text-align: left;
    margin-left: 6rem;
}
.content-about p{
  width: 70%;
    border-left: 3px solid black;
    padding: 15px;
    margin-left: 0.8rem;
}

.content-about .nokia{
    font-weight: bold;
    font-size: 2.4rem;
    font-family: 'Press Start 2P', cursive;
}
.content-about .macky{
    font-family: 'Source Serif 4','Ubuntu';
    font-weight:bold;
    font-size: 2.5rem;
}
